## DAY 15

### Exercise: Open you python interactive shell and try all the examples covered in this section.

#### Example 1: SyntaxError

In [1]:
print 'hello world'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2134528244.py, line 1)

In [23]:
# As you can see we made a syntax error because we forgot to enclose the string with parenthesis and Python already suggests the solution. 
#Let us fix it.

print('hello world')

hello world

#### Example 2: NameError

In [2]:
print(age)

NameError: name 'age' is not defined

In [22]:
# As you can see, name age is not defined. 
# Yes, it is true that we did not define an age variable but we were trying to print it out as if we had had declared it. 
# Now, lets fix this by declaring it and assigning with a value.

age = 25
print(age)

25

#### Example 3: IndexError

In [21]:
# In the example, Python raised an IndexError, because the list has only indexes from 0 to 4 , so it was out of range.
numbers = [1, 2, 3, 4, 5]
numbers[5]

IndexError: list index out of range

#### Example 4: ModuleNotFoundError

In [4]:
import maths

ModuleNotFoundError: No module named 'maths'

In [20]:
# In the example, an extra 's' was added to math and ModuleNotFoundError was raised. 
#Lets fix it by removing the extra 's' from math.

import math

#### Example 5: AttributeError

In [5]:
import math
math.PI

AttributeError: module 'math' has no attribute 'PI'

In [19]:
# As you can see, I made a mistake again! Instead of pi, I tried to call a PI function from maths module. 
#It raised an attribute error, it means, that the function does not exist in the module. 
# Lets fix it by changing from PI to pi.

import math
math.pi

3.141592653589793

#### Example 6: KeyError

In [18]:
users = {'name':'Dikko', 'age':'28', 'country':'Nigeria'}
users['name']

users['county']

KeyError: 'county'

In [17]:
# As you can see, there was a typo in the key used to get the dictionary value. 
# So, this is a key error and the fix is quite straight forward. 

user = {'name':'Dikko', 'age': '28', 'country':'Nigeria'}
user['name']

user['country']

'Nigeria'

#### Example 7: TypeError

In [7]:
4 + '3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
# In the example above, a TypeError is raised because we cannot add a number to a string. 
#First solution would be to convert the string to int or float. Another solution would be converting the number to a string (the result then would be '43'). 
# Let us follow the first fix.

4 + int('3')
4 + float('3')

7.0

#### Example 8: ImportError

In [8]:
from math import power

ImportError: cannot import name 'power' from 'math' (unknown location)

In [13]:
# There is no function called power in the math module, it goes with a different name: pow. Let's correct it:
from math import pow
pow(2,3)

8.0

#### Example 9: ValueError

In [14]:
# In this case we cannot change the given string to a number, because of the 'a' letter in it.
int('12a')

ValueError: invalid literal for int() with base 10: '12a'

#### Example 10: ZeroDivisionError

In [15]:
# We cannot divide a number by zero.
1/0

ZeroDivisionError: division by zero